@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* Custom styles for specific elements */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
}

ul {
    list-style: disc;
    list-style-position: inside;
}

/* Add some padding and margin */
h1 {
    margin-bottom: 1rem;
}

ul li {
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 1rem;
}
